#header {
    background: #050F42;
}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

span {
    margin-bottom: 0.3em;
    margin-top: 0.1em;
}


h1 {
    font-size: 100px;
}

#div-main {
    background-color: white;
}

#div-login {
    background-color: white;
    border-style: ridge;
    border-color: grey;
    border-radius: 15px;
}

.form-control {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.btn {
    background-color: aqua;
}