

h4 {
    margin: 1em;
}

#modal {
    background-color: black;
    color: white;

    border-radius: 1em;
    margin: 1em;

}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {

    body {
        overflow: hidden;
    }
}